<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-item>
   
    <ion-avatar aria-hidden="true" slot="start">
     
      <img src="https://conteudo.imguol.com.br/c/tab/29/2019/07/04/redes-neurais-profundas-analisaram-imagens-de-rosto-de-35-mil-pessoas-para-tentar-descobrir-suas-orientacoes-sexuais-1562267822858_v2_1x1.jpg" />
  
    </ion-avatar>
   
    <ion-icon name="notifications-outline"slot="end"></ion-icon>
    
    <ion-label>Joao Pedro</ion-label>
  
  </ion-item>
  
  <h1>Olá Joao Pedro</h1>
  
  <ion-toolbar>
    
    <ion-searchbar></ion-searchbar>
 
  </ion-toolbar>

  <ion-item>
    
    <ion-label><h2>Top Products</h2></ion-label>
 
  </ion-item>
  
  <ion-item>
    
    
    <ion-badge color="tertiary">HEADFONES</ion-badge>

    <ion-badge color="tertiary">TVS</ion-badge>
   
    <ion-badge color="tertiary">CELLPHONES</ion-badge>
   
    <ion-badge color="tertiary">VIDEO-GAMES</ion-badge>
   
    <br>
  </ion-item>
  
  <ion-grid>
   
    <ion-row>
     
      <ion-col>
        
        <ion-card>
          
          <img id="1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQySUhvOq6ttQKaJNIYsW4N6ETYg95Hm2VfDCmzKlp5AA&s" />
          
          <ion-card-header>
            
            <ion-card-title>Headfone JBL</ion-card-title>
            <ion-card-subtitle>R$1268,00</ion-card-subtitle>
         
          </ion-card-header>
        
        </ion-card>

        <ion-card>
          
          <img id="2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScsnn6DtG0dqehK63y6Rc7zTPicvIwHwLZpSQ_-0-B-Q&s" />
          
          <ion-card-header>
            
            <ion-card-title>Headfone APPLE</ion-card-title>
            <ion-card-subtitle>R$1068,00</ion-card-subtitle>
            
         
          </ion-card-header>
        
        </ion-card>
      
      </ion-col>
     
      <ion-col>
        
        <ion-card>
          
          <img id="3" src="https://boxloja-pro-cdn.nyc3.cdn.digitaloceanspaces.com/bfsa3ee6lplut1hz3j2ifa2wksa7" />
          
          <ion-card-header>
            
            <ion-card-title>Headfone SANSUNG</ion-card-title>
            <ion-card-subtitle>R$1999,00</ion-card-subtitle>
          
          </ion-card-header>
        
        </ion-card>

        <ion-card>
          
          <img id="4" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MQTR3?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1687660671097" />
          
          <ion-card-header>
            
            <ion-card-title>Headfone BEATS</ion-card-title>
            <ion-card-subtitle>R$968,00</ion-card-subtitle>
            
          
          </ion-card-header>
        
        </ion-card>
      
      </ion-col>
   
    </ion-row>
 
  </ion-grid>

</ion-content>
